body{
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('https://img.freepik.com/free-photo/medicines-medical-supplies-placed-blue_1150-19154.jpg?w=1380&t=st=1684349985~exp=1684350585~hmac=7e4f3e4d1649f299031ffdc305b40b190f2748394a971df2f1ba0df680c8be2e'); 
    
}