*{
  font-family: 'Courier New', Courier, monospace;
  /* color: #fff; */
  font-weight: bold;
  
}
body{
  background-repeat:no-repeat ;
  background-size: cover;
  background-image: url('https://img.freepik.com/premium-vector/medical-pattern-with-beakers-pipettes-as-well-as-crosses-with-hearts-pills_638892-315.jpg?w=826');
}
.nav-header{
  color: rgb(70, 176, 189);
  font-size: 30px;
}
.btn-right{
  float: right;
}
.title{
  text-align: center;
  color: rgb(19, 72, 76);
  font-size: 50px;
  font-weight: bold;
  
}
.name{
  font-size: 60px;
  color: red;
  margin-left: 50px;
}
.result-details{
  font-size: 30px;
  color: blue;
  margin-left: 50px;
}
.not{
  color:red;
  margin-left: 50px;
  font-size: 25px;
}
